@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  p {
    color: #737373;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
  }

  h2,
  h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

/* Hero section starts */
.hero {
  background-image: url("./assets/heroImg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 3rem;
}

.hero .hero-head {
  padding: 7rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-head h2 {
  font-size: 4rem;
}

h2 span {
  color: #e14640;
}

.hero-image img {
  width: 100%;
  height: 91.5vh;
  margin-top: 62px;
  /* margin-left: 47px; */
}

/* Hero section ends */

/* buttons start */

.primary-btn {
  background-color: #e14640;
  color: #ffff;
  border-radius: 5px;
  width: 120px;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.primary-btn:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.primary-btn:active {
  transform: scale(0.95);
}

.btns {
  display: flex;
}

.btn2 {
  background-color: transparent;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn2 .arrow-icon {
  text-align: center;
  padding-top: 4px;
}

.btn2:hover {
  font-size: 1em;
  font-weight: 600;
  color: #e14640;
  margin-left: 10px;
  text-shadow: 4px 4px 8px #837474;
  cursor: pointer;
  transform: scale(1.05);
}

.primary-btn2 {
  background-color: #e14640;
  color: #ffff;
  border-radius: 5px;
  padding: 10px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.primary-btn2:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.primary-btn2:active {
  transform: scale(0.95);
}

.primary-btn3 {
  background-color: #e14640;
  color: #ffff;
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 96px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.primary-btn3:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.primary-btn3:active {
  transform: scale(0.95);
}

.secondary-btn {
  background-color: #000000;
  color: #ffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 48px;
  margin-bottom: 72px;
}

.secondary-btn:hover {
  box-shadow: 3px 3px 5px #9e9696;
  cursor: pointer;
  background-color: #c0392b;
}

.modal-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
}

.modal-btn {
  width: 130px;
  padding: 8px;
  color: #fff;
  background-color: #e14640;
  margin: 18px 0 18px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-btn:hover {
  box-shadow: 3px 3px 5px #9e9696;
  cursor: pointer;
}

.modal-btn2 {
  width: 130px;
  padding: 8px;
  /* color: #fff; */
  background-color: #dbdbdb;
  margin: 18px 0 18px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-btn2:hover {
  box-shadow: 3px 3px 5px #9e9696;
  cursor: pointer;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-btn {
  background-color: #bababa;
  color: #fff;
  width: 150px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5rem;
  margin-top: 1rem;
}


.load-btn:hover {
  box-shadow: 3px 3px 5px #9e9696;
  cursor: pointer;
  background-color: #413c3c;
}

/* buttons end */

/* Journey section starts */

.journey-head {
  text-align: center;
}

.journey-head h2 {
  padding-top: 24px;
}
.journey-head p {
  padding-top: 8px;
  padding-bottom: 48px;
  font-size: 1em;
}

.journey-perks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 128px;
}

.journey-perks img {
  padding-bottom: 4.8px;
}

.journey-perks h4 {
  padding-bottom: 11.2px;
  font-size: 1.3em;
  font-weight: 600;
}

.journey-perks p {
  line-height: 1.3em;
}
/* Jounery section  ends */

/* Trends section starts */
.trends-head {
  text-align: center;
}

/* .trends-head h2 {
  padding-top: 48px;
  padding-bottom: 2rem;
} */

.trends-head p {
  padding-bottom: 48px;
}

.burdens {
  display: flex;
  flex-direction: column;
}

.burdens-list {
  display: flex;
  padding: 2rem;
  border: none;
  border-radius: 3px;
  background-color: #f9f9f9;
  flex-direction: column;
  margin: 8px auto;
  width: 65%;
}

.list-content {
  display: flex;
  padding-left: 2.5rem;
  gap: 3rem;
}

.list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-h4 {
  padding-top: 32px;
}

.list-content p {
  max-width: 90%;
}

.trends-btn {
  text-align: center;
}

.trends-btn .sec-icon {
  padding-top: 4.8px;
}

/* Trends section ends */

/* Log section starts */
.log-container {
  text-align: center;
}

.log-head {
  text-align: center;
}
.log-head p {
  padding: 1rem 0;
}

.log-container h2 {
  padding-top: 24px;
  padding-bottom: 8px;
}

.log-container p {
  padding-bottom: 8px;
}

/* Log section ends */

/* Share burden page starts */
.share-container {
  background-image: url("./assets/burdenImg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 48px;
}

.share-head {
  text-align: center;
}
.share-head p {
  padding: 12.8px 0 32px 0;
}

form {
  display: flex;
  flex-direction: column;
}

.check {
  display: flex;
  margin: 10px 0 10px 20px;
}

textarea {
  width: 520px;
  padding: 10px;
  background-color: #ededed;
  border-color: #8c8b8b;
  border-radius: 8px;
  outline: none;
}

input[type="email"] {
  width: 520px;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ededed;
  color: #000000;
  border-color: #8c8b8b;
  border-radius: 8px;
  outline: none;
}

input[type="checkbox"] {
  margin-right: 5px;
  background-color: #e14640;
}

input::placeholder,
textarea::placeholder {
  padding-left: 10px;
}

.share-btn {
  text-align: center;
}

/* Share burden page ends */

@media screen and (max-width: 767px) {
  .hero {
    display: block;
  }

  .hero .hero-head {
    padding: 4rem 0 0 2rem;
  }

  .hero-image img {
    width: 90%;
    height: 39vh;
    padding-right: 15px;
  }
  .start-journey {
    padding: 0 15px 0 15px;
  }

  .journey-perks {
    display: block;
    padding: 37px;
  }

  .global,
  .guidance {
    padding-top: 28.8px;
  }

  .trends-head {
    padding: 0 15px 0 15px;
  }

  .list {
    display: flex;
  }

  .burdens-list {
    width: 89%;
  }

  .list-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    gap: 1rem;
  }

  .log-container {
    padding: 0 15px 0 15px;
  }

  textarea {
    width: 400px;
  }

  input[type="email"] {
    width: 400px;
  }

  .share-container {
    padding: 20px;
  }

.log-head {
  padding: 0 15px 0 15px;
}

}
